*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 14px;
    font-family: 'Rubik';
    @include regularFont();
    color: $textColor;
    min-width: 320px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button:hover{
    cursor: pointer;
}

input:focus{
    outline: none;
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.hide{
    display: none !important;
}

.visible{
    display: block !important;
}

.button-primary{
    @include boldFont();
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $accentColor;
    color: $whiteColor;
    i{
        margin-right: 10px;
    }
}


.custom-checkbox{

    input{
        position: absolute;
        visibility: hidden;
       
        &:checked + .custom-checkbox__content{
            background-color: $activeCheckboxColor;

            .custom-checkbox__indicator{
                right: 2px;
                left: auto;
            }
        }       
    }

    &__content{
        display: block;
        position: relative;
        border-radius: 50px;
        width: 60px;
        height: 32px;
        background-color: $inputBackgroundColor;
        transition: background-color 0.3s ease;

        &:hover{
            cursor: pointer;
        }
        
    }
    

    &__indicator{
        width: 28px;
        height: 28px;
        background-color: $whiteColor;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: 2px;
    }

    &:hover{
        cursor: pointer;
    }
}

